.Navbar {
  background-color: #ffffff;
  padding: 20px;
}

.Navbar > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LeftContainer {
  display: flex;
  align-items: center;
}

.MenuIcon {
  margin-right: 30px;
}

@media (min-width: 1366px) {
  .Navbar > div {
    width: 80%;
    margin: auto;
  }
}
