.Navbar {
  background-color: #ffffff;
  padding: 20px;
}

.Navbar > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LeftContainer {
  display: flex;
  align-items: center;
}

.RightContainer {
  display: flex;
  align-items: center;
}

.ButtonContainer {
  display: none;
  margin-right: 45px;
}

.MenuIcon {
  margin-right: 30px;
}

@media (min-width: 1366px) {
  .Navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .Navbar > div {
    width: 80%;
    margin: auto;
  }
  .ButtonContainer {
    display: block;
  }
}
