.Navbar {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.LeftContainer {
  display: flex;
  align-items: center;
}

.MenuIcon {
  margin-right: 30px;
}