.PokemonsList {
  display: none;
}

@media(min-width: 1366px) {
  .PokemonsList {
    width: 50%;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}